sample-iepd/base-xsd/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:unece="http://release.niem.gov/niem/codes/unece_rec20/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../codes/unece_rec20/3.0/unece_rec20-misc.xsd" namespace="http://release.niem.gov/niem/codes/unece_rec20/3.0/"/>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncidentType">
    <xs:annotation>
      <xs:documentation>A data type for an occurrence or an event that may require a response.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:IncidentLocation" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JurisdictionType">
    <xs:annotation>
      <xs:documentation>A data type for a geopolitical area in which an organization, person, or object has a specific range of authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationState" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationGeospatialCoordinate" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:MeasureValue" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:MeasureUnit" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType">
        <xs:attribute ref="nc:sequenceID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurName" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute ref="nc:personNameCommentText" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:attribute name="personNameCommentText" type="xs:string">
    <xs:annotation>
      <xs:documentation>A comment about a kind of name for a person.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="sequenceID" type="xs:integer">
    <xs:annotation>
      <xs:documentation>A numeric identifier that explicitly sequences or orders elements.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationJurisdiction" type="nc:JurisdictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area, region, or unit where a unique identification is issued.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location where an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemLengthMeasure" type="nc:MeasureType">
    <xs:annotation>
      <xs:documentation>A measurement of the length of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemWidthMeasure" type="nc:MeasureType">
    <xs:annotation>
      <xs:documentation>A measurement of the width of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LengthUnitCode" type="unece:LengthCodeType" substitutionGroup="nc:MeasureUnit">
    <xs:annotation>
      <xs:documentation>A unit of measure of a length value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationGeospatialCoordinate" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a geospatial location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationState" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureDecimalValue" type="niem-xs:decimal" substitutionGroup="nc:MeasurePoint" nillable="true">
    <xs:annotation>
      <xs:documentation>A decimal measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasurePoint" substitutionGroup="nc:MeasureValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnit" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of measure of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOf" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOf" nillable="true">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
